In [3]:
import pandas as pd

In [14]:
df = pd.read_csv('Original/GMPI2021_publicuse.csv')

# Standardize country names

In [3]:
# df.head()

,flav,w_region,cty_lab,ccty,ccnum,t,year,survey,loa,area_lab,measure,measure_lab,indicator,ind_lab,b,se,k,wgts,spec,misind_lab
0,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,M0,MPI,NaN,NaN,0.005409,.0006646200004152,33.0,equal,gmpi,NaN
1,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,H,Headcount ratio,NaN,NaN,1.380835,.15076397587442,33.0,equal,gmpi,NaN
2,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,A,Intensity,NaN,NaN,39.172628,.96566740646732,33.0,equal,gmpi,NaN
3,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,hd,Uncensored headcount ratio,d_nutr,Nutrition,5.825295,.25438270613317,NaN,NaN,gmpi,NaN
4,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,hd,Uncensored headcount ratio,d_cm,Child mortality,1.138596,.08131516325524,NaN,NaN,gmpi,NaN

In [5]:
## Export to pass through country name tool
# df[['cty_lab']].rename(columns={'cty_lab': 'country'}).drop_duplicates().to_csv("Manipulation/MPI countries.csv", index = False)

In [15]:
country_names_map = pd.read_csv("Manipulation/MPI countries_country_standardized.csv")

In [16]:
country_names_map.head()

   country Our World In Data Name
0  Algeria                Algeria
1    Egypt                  Egypt
2     Iraq                   Iraq
3   Jordan                 Jordan
4    Libya                  Libya

In [17]:
df = pd.merge(df.rename(columns={'cty_lab': 'country'}),country_names_map,how='left', on='country')

In [11]:
df.head()

,flav,w_region,country,ccty,ccnum,t,year,survey,loa,area_lab,...,measure_lab,indicator,ind_lab,b,se,k,wgts,spec,misind_lab,Our World In Data Name
0,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,...,MPI,NaN,NaN,0.005409,.0006646200004152,33.0,equal,gmpi,NaN,Algeria
1,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,...,Headcount ratio,NaN,NaN,1.380835,.15076397587442,33.0,equal,gmpi,NaN,Algeria
2,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,...,Intensity,NaN,NaN,39.172628,.96566740646732,33.0,equal,gmpi,NaN,Algeria
3,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,...,Uncensored headcount ratio,d_nutr,Nutrition,5.825295,.25438270613317,NaN,NaN,gmpi,NaN,Algeria
4,cme,Arab States,Algeria,DZA,12,NaN,2018-2019,MICS,nat,National,...,Uncensored headcount ratio,d_cm,Child mortality,1.138596,.08131516325524,NaN,NaN,gmpi,NaN,Algeria

In [19]:
df = df.drop(columns='country')
df = df.rename(columns={'Our World In Data Name': 'country'})

# Separate cme from hot
Due to changing data coverage across surveys, OPHI produce two sets of estiamtes: point estimates for single years (`flav = cme`) and estiamtes intended to track change over time (`flav = hot`).

Let's separate these out.